 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,400;1,500&display=swap');
 
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 80px;
    background-color:rgb(18, 18, 62);
}
nav div{
    margin: 23px 0;
}
.left
{
    font-size: 1.5rem;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    margin: 0 23px;
    list-style: none;
}
nav ul li a{
   text-decoration: none;
   color: white;
}
nav ul li a:hover{
     
    color: rgb(19, 54, 103);
    font-size: 1.04rem;
 }
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
}
.firstSection > div{
     width: 30%;
}
.leftSection{
    font-size: 3rem;  
     
}
.rightSection img{
    width: 80%;   
}
.purple{
    color: rgb(63, 43, 102);
}